@import url("reset.css");
@font-face {
    font-family: inter;
    src: url("Inter-VariableFont_slnt\,wght.ttf");
}

:root {
    --text-color: #24292f;
    --primary: hsl(212, 92%, 45%);
    --button-primary: hsl(212, 92%, 45%);
    --button-primary-hover: hsl(212, 92%, 35%);
    --border-color: rgb(0, 0, 0, 15%);
    --border-radius: 5px;
    --active-bgc: rgb(17 55 184 / 5%);
    --active-bdc: rgb(17 55 184 / 11%);
    --confirm: #1f9040;
    --box-shadow-large: 0px 0px 20px rgb(0, 0, 0, 6%);
}

* {
    box-sizing: border-box;
}

body {
    font-family: inter, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 i, h2 i, h3 i, h4 i, h5 i, h6 i {
    opacity: .6;
}

a {
    text-decoration: none;
}

@keyframes fadeInSlideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInSlideLeftToRight {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.btn {
    cursor: pointer;
    padding: 8px 15px;
    border-radius: var(--border-radius);
    text-align: center;
    font-weight: 600;
    border: 1px solid transparent;
    font-size: .9rem;
    font-family: 'inter';
}

.btn i {
    margin-right: 10px;
}

.confirm {
    background-color: var(--confirm);
    color: white;
}

.confirm:hover {
    background-color: rgb(30 131 59);
}

.neutral {
    background-color: rgb(0, 0, 0, 3%)!important;
    border-color: rgb(0, 0, 0, 10%);
    color: var(--text-color);
}

.neutral:hover {
    background-color: rgb(0, 0, 0, 5%)!important;
}

.neutral:active{
    background-color: rgb(0, 0, 0, 8%) !important;
}

.neutral i {
    opacity: .6;
}

.primary {
    background-color: var(--button-primary);
    color: white;
}

.primary:hover {
    background-color: var(--button-primary-hover);
}


#container {
    --sidebar-width: 20%;
}

#sidebar {
    padding: 20px;
    font-size: .9rem;
    width: var(--sidebar-width);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    border-right: 1px solid var(--border-color);
    background: white;
}

#sidebar > .label {
    font-weight: 600;
}

#sidebar > .label > a {
    color: black;
    display: block;
    padding: 10px 30px;
    border-radius: var(--border-radius);
    display: flex;
    gap: 8px;
    align-items: center;
    border: 1px solid transparent;
}

#sidebar > .label > a:hover,
#sidebar > .currently-active > a {
    background-color: rgb(0, 0, 0, 5%);
}

#sidebar > .currently-active > a {
    border-color: rgb(0, 0, 0, 6%);
}

#sidebar > .label > a > i {
    font-size: 1.1rem;
    opacity: .6;
}

.currently-active > a{
    background-color: var(--active-bgc)!important;
    border-color: var(--active-bdc)!important; 
}

#sidebar > .currently-active > a {
    color: var(--primary);
}

#project-name:focus,
#project-name[contenteditable="true"] {
    outline: 2px solid var(--primary);
    border-radius: var(--border-radius);
    color: var(--primary);
    font-size: 1rem;
    padding: 10px;
}

#project-name[contenteditable="false"] {
    animation: fadeInSlideLeftToRight 200ms forwards;
}

#header-bar #control {
    display: flex;
    gap: 10px;
}

#create-new-project {
    padding: 10px 20px;
    margin-top: 10px;
    justify-content: center;
}

.dropdown {
    padding: 10px;
    margin-left: 15px;
    border-left: 1px solid var(--border-color);
    /* background: rgb(0, 0, 0, 4%); */
}

.dropdown p {
    pointer-events: none;
}

.dropdown li {
    cursor: pointer;
    padding: 7px 20px;
    border-radius: var(--border-radius);
    display: flex;
    gap: 15px;
    align-items: center;
    position: relative;
}

.dropdown li.current:after {
    content: '';
    border: 3px solid var(--primary);
    position: absolute;
    left: -11px;
    height: 80%;
    opacity: .7;
    border-radius: 20px;
}

.dropdown li > i {
    margin: auto 0;
    font-size: 1rem;
    opacity: .6;
    flex: 0;
}

.dropdown li:hover,
.dropdown li.current {
    background: rgb(0, 0, 0, 5%);
}

/* main content */

#main-content {
    margin-left: var(--sidebar-width);
    padding: 40px 100px;
}

#header-bar {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: var(--border-radius);
    /* border: 1px solid var(--border-color); */
    background: white;
}

#header-bar h1 {
    font-size: 1.5rem;
    display: flex;
    gap: 15px;
}

#header-bar #edit-project {
    display: flex;
    gap: 10px;
}

#header-bar #edit-project i {
    font-size: 1rem;
    margin: auto;
    cursor: pointer;
}

#header-bar #edit-project i:hover {
    opacity: 1;
}

#items-wrapper {
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background: white;
}

#items-wrapper:empty {
    padding: 100px;
    border-style: dashed;
}

#items-wrapper:empty:before {
    content: 'No item created';
    font-size: 2rem;
    font-weight: bold;
    opacity: .1;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
}

#items-wrapper > .todo-item {
    padding: 15px 30px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    animation: fadeInSlideLeftToRight 300ms forwards;
}

#items-wrapper>.todo-item:last-child {
    border-bottom: none;
}

#items-wrapper > .todo-item > #left-side, 
#items-wrapper > .todo-item > #right-side {
    display: flex;
    gap: 10px;
    align-items: center;
}

#items-wrapper > .todo-item span {
    opacity: .6;
}

#items-wrapper>.todo-item #left-side i {
    cursor: pointer;
    opacity: .6;
}

#items-wrapper #mark-done {
    display: flex;
    font-size: 1.1rem;
}

#items-wrapper>.todo-item #left-side i:hover {
    opacity: .8;
}

#items-wrapper .done #todos-name {
    text-decoration: line-through;
    opacity: .4;
}

#options {
    position: relative;
    cursor: pointer;
}

#dropdown-trigger {
    background: rgb(0, 0, 0, 10%);
    border-radius: var(--border-radius);
    padding: 0px 7px;
    cursor: pointer;
    opacity: .6;
}

#options:hover  #dropdown-trigger {
    opacity: 1;
}

#options:hover > .tooltip {
    visibility:visible;
    animation: fadeInSlideDown 200ms forwards;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: max-content;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    background: white;
    padding: 6px 0;
    box-shadow: var(--box-shadow-large);
    bottom: 15px;
        right: 0;
}

.tooltip>.opt {
    padding: 7px 15px;
    cursor: pointer;
    font-size: .9rem;
}
.tooltip>.opt:hover {
    background: rgb(0, 0, 0, 5%);
}
.tooltip>.opt > i {
    pointer-events: none;
    margin-right: 10px;
    opacity: .6;
}

/* Form Style */

input[type='text'],
input[type='date'] {
    outline: 0;
    padding: 6px 11px;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    font-size: .9rem;
}

input[type='text']:focus,
input[type='date']:focus {
    border-color: var(--primary);
    outline: 2px solid var(--primary);
}

label {
    font-size: .9rem;
}

button {
    font-weight: 600;
}

dialog {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    width: 40%;
    padding: 0;
    margin-top: 5%;
}

::backdrop {
    background: rgb(16 21 25 / 50%);
}

#popup-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#popup-form > fieldset {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 16px;
}

#popup-form > fieldset > .text-label {
    font-weight: 600;
}

#popup-form #popup-header {
    border-bottom: 1px solid var(--border-color);
    font-weight: 600;
    font-size: .9rem;
}
#popup-form #popup-footer {
    border-top: 1px solid var(--border-color);
}

#popup-form #popup-header,
#popup-form #popup-footer {
    padding-top: 16px;
    padding-bottom: 16px;
}

#popup-form #popup-footer {
    flex-direction: row;
    justify-content: end;
}